DATABASE_URL=postgresql://soa:soa@db:5432/soatp

AWS_ACCESS_KEY_ID=your_key_here
AWS_SECRET_ACCESS_KEY=your_secret_here
AWS_REGION=us-east-1
S3_BUCKET_NAME=soa-frames

MODELS_DIR=/app/models
BASE_URL=http://localhost:8000
INFERENCE_SERVICE_URL=http://100.x.x.x:8001
