--extra-index-url https://download.pytorch.org/whl/cu124
torch
torchvision
fastapi==0.115.0
uvicorn[standard]==0.30.6
ultralytics==8.3.0
pillow
python-multipart==0.0.12
pydantic-settings==2.6.0
insightface==0.7.3
onnxruntime==1.19.2
numpy==1.26.4
opencv-python
